<h2>World List</h2>
<pre *ngFor="let world of worldList$ | async">{{ world }}</pre>
<br/>
<tr *ngFor="let world of worlds$ | async">
    <td>{{ world }}</td>
</tr>
<br/>
<pre *ngFor="let world of worlds$ | async">{{ world }}</pre>
<ngx-graph
  class="chart-container"
  [view]="[500, 200]"
  [links]="[
    {
      id: 'a',
      source: 'first',
    target: 'second',
      label: 'is parent of'
    }, {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    }
  ]"
  [nodes]="[
    {
      id: 'first',
      label: 'A'
    }, {
      id: 'second',
      label: 'B'
    }, {
      id: 'third',
      label: 'C'
    }
  ]"
>
</ngx-graph>
<ngx-graph
class="chart-container"
  [view]="[500, 300]"
  [links]= "links"
  [nodes]="nodes"
  [layout]="layout">
  <ng-template #nodeTemplate let-node>
      <svg:g class="node">
          <circle [attr.r]="node.dimension.width/2" [attr.fill]="'rgb(178, 39, 147)'" [attr.cx]="node.dimension.width/2" [attr.cy]="node.dimension.width/2"></circle>

          <!--<svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />-->
          <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
        </svg:g>
    <!--<svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label">
      <svg:rect
        [attr.width]="node.dimension.width"
        [attr.height]="node.dimension.height"
        [attr.fill]="node.data.color"
      />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
        {{node.label}}
      </svg:text>
    </svg:g>-->
  </ng-template>
</ngx-graph>
<!--<ngx-graph
class="chart-container"
  [view]="[500, 300]"
  [links]= "links"
  [nodes]="nodes"
  [layout]="layout"
  [curve]="curve">
</ngx-graph>-->

<svg class="bubbles">
    <g *ngFor="let d of data" [attr.transform]="'translate('+d.x+','+d.y+')'" 
        (click)="onBubbleSelected(d)">
        <circle [attr.r]="d.r" [attr.fill]="'red'"></circle>
    </g>
</svg>